<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-12">
        <ul>
            <li>
                <h1>Estudio 1</h1>
                <h3> (years)</h3>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nulla blandit, nisl sed sollicitudin suscipit, est magna hendrerit tellus, in eleifend nisi ligula vel diam. 
                In at ex eleifend, rutrum turpis tempus, semper nunc. Etiam euismod odio ac nisl feugiat accumsan. Fusce a eros consequat, condimentum est id, molestie tortor.
                Vestibulum vel magna gravida, auctor ipsum et, condimentum massa. Proin tincidunt finibus augue, et vehicula leo lacinia at. Vestibulum neque eros, suscipit et interdum non, euismod quis ligula. 
                Cras mi erat, ornare ac pharetra eget, congue vel nunc. In a lorem enim. Nunc cursus quam non erat gravida, in tristique neque sodales. Nam non lobortis lorem. Pro
                in ac lorem semper, sodales risus sed, cursus purus.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Estudio 2</h1>
                <h3> (years)</h3>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nulla blandit, nisl sed sollicitudin suscipit, est magna hendrerit tellus, in eleifend nisi ligula vel diam. 
                In at ex eleifend, rutrum turpis tempus, semper nunc. Etiam euismod odio ac nisl feugiat accumsan. Fusce a eros consequat, condimentum est id, molestie tortor.
                Vestibulum vel magna gravida, auctor ipsum et, condimentum massa. Proin tincidunt finibus augue, et vehicula leo lacinia at. Vestibulum neque eros, suscipit et interdum non, euismod quis ligula. 
                Cras mi erat, ornare ac pharetra eget, congue vel nunc. In a lorem enim. Nunc cursus quam non erat gravida, in tristique neque sodales. Nam non lobortis lorem. Pro
                in ac lorem semper, sodales risus sed, cursus purus.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Estudio 3</h1>
                <h3> (years)</h3>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nulla blandit, nisl sed sollicitudin suscipit, est magna hendrerit tellus, in eleifend nisi ligula vel diam. 
                In at ex eleifend, rutrum turpis tempus, semper nunc. Etiam euismod odio ac nisl feugiat accumsan. Fusce a eros consequat, condimentum est id, molestie tortor.
                Vestibulum vel magna gravida, auctor ipsum et, condimentum massa. Proin tincidunt finibus augue, et vehicula leo lacinia at. Vestibulum neque eros, suscipit et interdum non, euismod quis ligula. 
                Cras mi erat, ornare ac pharetra eget, congue vel nunc. In a lorem enim. Nunc cursus quam non erat gravida, in tristique neque sodales. Nam non lobortis lorem. Pro
                in ac lorem semper, sodales risus sed, cursus purus.
                </p>
            </li>
        </ul>
    </div>
</div>    

