.row{
    padding:17px;
}
div{
    background-color: Thistle;
    text-align:center;
}
/*etiqueta nombre*/
#nombre{
    font-weight:bold;
    margin-top:17px;
}

/*estilo foto de perfil*/
@media(min-width:575px){
    #fotoperfil{
        position:absolute;
        width:20%;
        border-radius: 100%;
        box-shadow:1px 1px 1px;
        left:13%;
        top:530px;

}
}
@media(max-width:575px){
        #fotoperfil{
            position:absolute;
            width:30%;
            border-radius: 100%;
            box-shadow:3px 3px 3px;
            left:35%;
            top:590px;
    
    }
}