<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="col-2">
        <circle-progress
        [percent]="75" 
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'#40E0D0'"
        [titleFontSize]="'31px'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="17"
        [innerStrokeWidth]="13"
        [outerStrokeColor]="'#AFEEEE'"
        [innerStrokeColor]="'#E0FFFF'"
        [animation]="true"
        [animationDuration]="420"
        >
        </circle-progress>
    </div>
    <div class="col-2">
        <circle-progress
        [percent]="80" 
        [radius]="100"
        [title]="'Ingles'"
        [titleColor]="'#40E0D0'"
        [titleFontSize]="'31px'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="17"
        [innerStrokeWidth]="13"
        [outerStrokeColor]="'#AFEEEE'"
        [innerStrokeColor]="'#E0FFFF'"
        [animation]="true"
        [animationDuration]="420"
        >
    </circle-progress>
    </div>
    <div class="col-2">
        <circle-progress
        [percent]="75" 
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'#40E0D0'"
        [titleFontSize]="'31px'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="17"
        [innerStrokeWidth]="13"
        [outerStrokeColor]="'#AFEEEE'"
        [innerStrokeColor]="'#E0FFFF'"
        [animation]="true"
        [animationDuration]="420"
        >
        </circle-progress>
    </div>
    <div class="col-2">
        <circle-progress
        [percent]="100" 
        [radius]="100"
        [title]="'Responsabilidad'"
        [titleColor]="'#40E0D0'"
        [titleFontSize]="'31px'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="17"
        [innerStrokeWidth]="13"
        [outerStrokeColor]="'#AFEEEE'"
        [innerStrokeColor]="'#E0FFFF'"
        [animation]="true"
        [animationDuration]="420"
        >
        </circle-progress>
    </div>
    <div class="col-2">
        <circle-progress
        [percent]="75" 
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'#40E0D0'"
        [titleFontSize]="'31px'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="17"
        [innerStrokeWidth]="13"
        [outerStrokeColor]="'#AFEEEE'"
        [innerStrokeColor]="'#E0FFFF'"
        [animation]="true"
        [animationDuration]="420"
        >
        </circle-progress>
    </div>
    <div class="col-2">
        <circle-progress
        [percent]="75" 
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'#40E0D0'"
        [titleFontSize]="'31px'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="17"
        [innerStrokeWidth]="13"
        [outerStrokeColor]="'#AFEEEE'"
        [innerStrokeColor]="'#E0FFFF'"
        [animation]="true"
        [animationDuration]="420"
        >
        </circle-progress>
    </div>
</div>

