<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img src="../../assets/fotoperfil.jpg"
         class="img fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Junior</p>
    </div>    
    <div class="col-xs-12 col-order-2-sm-8 col-order-2-md-8 col-order-2-lg-8">
            <span>
                <h1>Acerca de mí</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut suscipit interdum purus et pulvinar. Nullam tempus purus id magna egestas ullamcorper. Donec odio mauris, lacinia et porttitor non, suscipit non odio. Vivamus tempus nisl non nibh tristique vestibulum. Nulla facilisi. Aliquam vitae bibendum elit, tempus placerat ante. Fusce quis rhoncus nisl. Nunc eleifend arcu ac finibus dapibus. Aenean et eros eget tellus faucibus pellentesque nec sed diam. Cras lacinia tellus eget erat tincidunt feugiat. Quisque feugiat, nisl id viverra efficitur, neque mi molestie neque, ut viverra turpis nibh eu ex. Integer faucibus tristique elit eu ornare.

                    Mauris convallis, risus eu fermentum euismod, nibh eros sodales sapien, a lacinia nunc erat id lectus. Vestibulum ac quam magna. Nunc vel enim quis metus laoreet facilisis ut sit amet quam. Quisque ut magna nibh. Duis cursus rhoncus lectus, ut aliquet metus convallis et. Ut sit amet dapibus lacus. Proin turpis nunc, dictum at hendrerit non, lobortis a nulla. In hac habitasse platea dictumst. 
                    Pellentesque placerat justo vel dolor faucibus, eleifend blandit odio interdum. Sed sollicitudin blandit sem ut posuere.
                </p>
            </span>
    </div>
</div>
