<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img src="../../assets/fotoperfil.jpg"
         class="img fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Junior</p>
    </div>    
    <div class="col-xs-12 col-order-2-sm-8 col-order-2-md-8 col-order-2-lg-8">
            <span>
                <h1>Acerca de mí</h1>
                <p>Mi nombre es Anna Nuñez, tengo 21 años y actualmente soy una estudiante de la Universidad Nacional de Córdoba.
                    Estoy estudiando la carrera de Ingeniería Biomédica y también me interesa ser programadora. Me considero una persona responsable,
                    cuando asumo un compromiso me siento en el deber de cumplirlo. Soy una persona creativa y detallista.
                </p>
            </span>
    </div>
</div>
