<div class="row g-0">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/Logo Arg.Prog..png" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href="https://www.facebook.com/anna.nunez.5264/"> <img src="../../../assets/Logo facebook.png" alt="">
                </a>
                <a href="https://github.com/annynbadaracco"> <img src="../../../assets/Logo Github.png" alt="">
                </a>
                <a href="https://www.instagram.com/annynbadaracco/"> <img src="../../../assets/Logo Instagram.png" alt="">
                </a>
                <button type="button" class="btn btn-dark" (click)="login()">INGRESO</button>
            </div>
    </div>
</div>

